In [1]:
# Import dependencies
import json
import pandas as pd
import numpy as np
import os
import re
from sqlalchemy import create_engine
from config import db_password
import time
from sqlalchemy import create_engine

In [2]:
# Get the file location
#file_dir = input('Input the file directory where you saved "wikipedia.movies.json", "movies_metadat.csv", and "rating.csv" \n')

Input the file directory where you saved "wikipedia.movies.json", "movies_metadat.csv", and "rating.csv"
C:\Users\spo.DT\Desktop\BootCamp\Analysis Project\Module 8

In [12]:
# Read the jason and csv files
#with open(f'{file_dir}/wikipedia.movies.json', mode = 'r') as file:
with open('wikipedia.movies.json', mode = 'r') as file:
    wiki_movies_raw = json.load(file)
wiki_movies_df = pd.DataFrame(wiki_movies_raw)
#kaggle_metadata = pd.read_csv(f'{file_dir}/movies_metadata.csv')
kaggle_metadata = pd.read_csv('movies_metadata.csv')
#ratings = pd.read_csv(f'{file_dir}/ratings.csv')
ratings = pd.read_csv('ratings.csv')

In [7]:
# Define function to transform and load data from three dataframes
def Transform_Load(wiki_movies_raw, kaggle_metadata, ratings):

    # Clean/vlidate data in wikipedia.movies.json file. Insert validated data in wiki_movies
    try:
        wiki_movies = [movie for movie in wiki_movies_raw
                      if ('Director' in movie or 'Directed by' in movie
                           and 'imdb_link' in movie
                           and 'No. of episodes' not in movie)]
        if len(wiki_movies) < 1: 
            raise Exception
    except Exception:
        print('There is not valid data in "wikipedia.movies.json"')
        
    # Define a sub-function to clean wiki_movies
    def clean_movie(movie):
        movie = dict(movie) #create a non-destructive copy
        alt_titles = {}
        # combine alternate titles into one list
        for key in ['Also known as','Arabic','Cantonese','Chinese','French',
                    'Hangul','Hebrew','Hepburn','Japanese','Literally',
                    'Mandarin','McCune-Reischauer','Original title','Polish',
                    'Revised Romanization','Romanized','Russian',
                    'Simplified','Traditional','Yiddish']:
            if key in movie:
                alt_titles[key] = movie[key]
                movie.pop(key)
        if len(alt_titles) > 0:
            movie['alt_titles'] = alt_titles

        # Define a sub-function to revise column names
        def change_column_name(old_name, new_name):
            if old_name in movie:
                movie[new_name] = movie.pop(old_name)

        change_column_name('Adaptation by', 'Writer(s)')
        change_column_name('Country of origin', 'Country')
        change_column_name('Directed by', 'Director')
        change_column_name('Distributed by', 'Distributor')
        change_column_name('Edited by', 'Editor(s)')
        change_column_name('Length', 'Running time')
        change_column_name('Original release', 'Release date')
        change_column_name('Music by', 'Composer(s)')
        change_column_name('Produced by', 'Producer(s)')
        change_column_name('Producer', 'Producer(s)')
        change_column_name('Productioncompanies ', 'Production company(s)')
        change_column_name('Productioncompany ', 'Production company(s)')
        change_column_name('Released', 'Release Date')
        change_column_name('Release Date', 'Release date')
        change_column_name('Screen story by', 'Writer(s)')
        change_column_name('Screenplay by', 'Writer(s)')
        change_column_name('Story by', 'Writer(s)')
        change_column_name('Theme music composer', 'Composer(s)')
        change_column_name('Written by', 'Writer(s)')
        return movie
    
    # Call the clean_movie function to clean wiki_movies
    clean_movies = [clean_movie(movie) for movie in wiki_movies]
    wiki_movies_df = pd.DataFrame(clean_movies)
    
    # Extract the imdb_ids from urls
    try:
        wiki_movies_df['imdb_id'] = wiki_movies_df['imdb_link'].str.extract(r'(tt\d{7})')  
        wiki_movies_df.drop_duplicates(subset='imdb_id', inplace=True)
        if (len(wiki_movies_df['imdb_id']) == 1 and len(wiki_movies_df['imdb_id'].isna()) == 1)\
           | (len(wiki_movies_df['imdb_id']) < 1):
            raise Exception
    except Exception:
        print('There is no valid "imdb_id" in wiki_movies_df')       
    
    # Remove the columns inwhich more than 90% of data is null
    wiki_columns_to_keep = [column for column in wiki_movies_df.columns if wiki_movies_df[column].isnull().sum() < len(wiki_movies_df) * 0.9]
    if len(wiki_columns_to_keep) > 0:
        wiki_movies_df = wiki_movies_df[wiki_columns_to_keep]
    else:
        print('There is no column with less than 90 null data.')
    
    # Clean "Box office" column
    box_office = wiki_movies_df['Box office'].dropna()
    box_office = box_office.apply(lambda x: ' '.join(x) if type(x) == list else x)
    form_one = r'\$\s*\d+\.?\d*\s*[mb]illi?on'
    form_two = r'\$\s*\d{1,3}(?:[,\.]\d{3})+(?!\s[mb]illion)'
    box_office = box_office.str.replace(r'\$.*[-—–](?![a-z])', '$', regex=True)

    def parse_dollars(s):
        # if s is not a string, return NaN
        if type(s) != str:
            return np.nan

        # if input is of the form $###.# million
        if re.match(r'\$\s*\d+\.?\d*\s*milli?on', s, flags=re.IGNORECASE):

            # remove dollar sign and " million"
            s = re.sub('\$|\s|[a-zA-Z]','', s)

            # convert to float and multiply by a million
            value = float(s) * 10**6

            # return value
            return value

        # if input is of the form $###.# billion
        elif re.match(r'\$\s*\d+\.?\d*\s*billi?on', s, flags=re.IGNORECASE):

            # remove dollar sign and " billion"
            s = re.sub('\$|\s|[a-zA-Z]','', s)

            # convert to float and multiply by a billion
            value = float(s) * 10**9

            # return value
            return value

        # if input is of the form $###,###,###
        elif re.match(r'\$\s*\d{1,3}(?:[,\.]\d{3})+(?!\s[mb]illion)', s, flags=re.IGNORECASE):

            # remove dollar sign and commas
            s = re.sub('\$|,','', s)

            # convert to float
            value = float(s)

            # return value
            return value

        # otherwise, return NaN
        else:
            return np.nan
        
    try:
        wiki_movies_df['box_office'] = box_office.str.extract(f'({form_one}|{form_two})', flags=re.IGNORECASE)[0].apply(parse_dollars)
        if (len(wiki_movies_df['box_office']) == 1 and len(wiki_movies_df['box_office'].isna()) == 1)\
           | (len(wiki_movies_df['box_office']) < 1):
            raise Exception
    except Exception:
        print('There is no valid "box_office" in wiki_movies_df')          
    
    wiki_movies_df.drop('Box office', axis=1, inplace=True)
    
    # Clean "Budget Column"
    budget = wiki_movies_df['Budget'].dropna()
    budget = budget.map(lambda x: ' '.join(x) if type(x) == list else x)
    budget = budget.str.replace(r'\$.*[-—–](?![a-z])', '$', regex=True)
    budget = budget.str.replace(r'\[\d+\]\s*', '')
    try:
        wiki_movies_df['budget'] = box_office.str.extract(f'({form_one}|{form_two})', flags=re.IGNORECASE)[0].apply(parse_dollars)
        if (len(wiki_movies_df['budget']) == 1 and len(wiki_movies_df['budget'].isna()) == 1)\
           | (len(wiki_movies_df['budget']) < 1):
            raise Exception
    except Exception:
        print('There is no valid "budget" in wiki_movies_df')
    
    wiki_movies_df.drop('Budget', axis=1, inplace=True)
    
    # Clean "release_date" column
    release_date = wiki_movies_df['Release date'].dropna().apply(lambda x: ' '.join(x) if type(x) == list else x)
    date_form_one = r'(?:January|February|March|April|May|June|July|August|September|October|November|December)\s[123]\d*,\s\d{4}'
    date_form_two = r'\d{4}.[01]\d*.[123]\d*'
    date_form_three = r'(?:January|February|March|April|May|June|July|August|September|October|November|December)\s\d{4}'
    date_form_four = r'\d{4}'
    
    try:
        wiki_movies_df['release_date'] = pd.to_datetime(release_date.str.extract(f'({date_form_one}|{date_form_two}|{date_form_three}|{date_form_four})')[0], infer_datetime_format=True)
        if (len(wiki_movies_df['release_date']) == 1 and len(wiki_movies_df['release_date'].isna()) == 1)\
           | (len(wiki_movies_df['release_date']) < 1):
            raise Exception
    except Exception:
        print('There is no valid "release_date" in wiki_movies_df')
    
    # Clean "Running time" column
    try:
        running_time = wiki_movies_df['Running time'].dropna().apply(lambda x: ' '.join(x) if type(x) == list else x)
        running_time_extract = running_time.str.extract(r'(\d+)\s*m|(\d+)\s*ho?u?r?s?\s*(\d*)')
        running_time_extract = running_time_extract.apply(lambda col: pd.to_numeric(col, errors='coerce')).fillna(0)        
        wiki_movies_df['running_time'] = running_time_extract.apply(lambda row: row[0]*60 + row[1] if row[2] == 0 else row[2], axis=1)
        
        if (len(wiki_movies_df['Running time']) == 1 and len(wiki_movies_df['Running time'].isna()) == 1)\
           | (len(wiki_movies_df['Running time']) < 1):
            raise Exception
    except Exception:
        print('There is no valid "Running time" in wiki_movies_df')    
        
    wiki_movies_df.drop('Running time', axis=1, inplace=True)
    
    # Clean kaggle_metadata, column: "adult"
    try:
        kaggle_metadata_test = kaggle_metadata[kaggle_metadata['adult'] == 'False'].drop('adult',axis='columns')
        if (len(kaggle_metadata['adult']) == 1 and len(kaggle_metadata['adult'].isna()) == 1)\
           | (len(kaggle_metadata['adult']) < 1):
            raise Exception
        else:
            kaggle_metadata = kaggle_metadata[kaggle_metadata['adult'] == 'False'].drop('adult',axis='columns')
    except Exception:
        print('Sara')
        len(kaggle_metadata['adult'])
        print(kaggle_metadata['adult'])
        print('There is no valid "adult" in kaggle_metadata')   
        
        
    # Clean kaggle_metadata, column: "video"
    try:
        kaggle_metadata['video'] = kaggle_metadata['video'] == True
        if (len(kaggle_metadata['video']) == 1 and len(kaggle_metadata['video'].isna()) == 1)\
               | (len(kaggle_metadata['video']) < 1):
                raise Exception
    except Exception:
        print('There is no valid "video" in kaggle_metadata')  
    
    # Convert kaggle_metadata, column: "id" to numeric
    try:
        kaggle_metadata['id'] = pd.to_numeric(kaggle_metadata['id'], errors='raise')
    except:
        print('There are some invalid values in kaggle_metadata, column: "id"')

    # Convert kaggle_metadata, column: "popularity" to numeric
    try:
        kaggle_metadata['popularity'] = pd.to_numeric(kaggle_metadata['popularity'], errors='raise')
    except:
        print('There are some invalid values in kaggle_metadata, column: "popularity"')
        
    # Convert kaggle_metadata, column: "budget" to inetger
    try:
        kaggle_metadata['budget'] = kaggle_metadata['budget'].astype(int, errors = 'raise')
    except:
        print('There are some invalid values in kaggle_metadata, column: "budget"')
        
    # Convert kaggle_metadata, column: "budget" to datetime
    try:
        kaggle_metadata['release_date'] = pd.to_datetime(kaggle_metadata['release_date'], errors = 'raise')
    except:
        print('There are some invalid values in kaggle_metadata, column: "release_date"')        
        
    # Convert kaggle_metadata, column: "timestamp" to datetime
    try:
        ratings['timestamp'] = pd.to_datetime(ratings['timestamp'], origin='unix', unit='s', errors = 'raise')
    except:
        print('There are some invalid values in kaggle_metadata, column: "timestamp"')        
        
    # Merge the two dataframes
    movies_df = pd.merge(wiki_movies_df, kaggle_metadata, on='imdb_id', suffixes=['_wiki','_kaggle'])
    
    if len(movies_df) < 1:
        print('There is no common "imdb_id" between "wiki_movies_df" and "kaggle_metadata" ')
    
    # Drop the extra columns
    movies_df.drop(columns=['title_wiki','release_date_wiki','Language','Production company(s)'], inplace=True)

    # Fill missing kaggle data
    def fill_missing_kaggle_data(df, kaggle_column, wiki_column):
        df[kaggle_column] = df.apply(
            lambda row: row[wiki_column] if row[kaggle_column] == 0 else row[kaggle_column]
            , axis=1)
        df.drop(columns=wiki_column, inplace=True)
        
    fill_missing_kaggle_data(movies_df, 'runtime', 'running_time')
    fill_missing_kaggle_data(movies_df, 'budget_kaggle', 'budget_wiki')
    fill_missing_kaggle_data(movies_df, 'revenue', 'box_office')
    
    # Check movie_df columns for number of values 
    for col in movies_df.columns:
        lists_to_tuples = lambda x: tuple(x) if type(x) == list else x
        value_counts = movies_df[col].apply(lists_to_tuples).value_counts(dropna=False)
        num_values = len(value_counts)
        print(value_counts)
        if num_values == 1:
            print(col)

    # Re-order columns
    movies_df = movies_df[['imdb_id','id','title_kaggle','original_title','tagline','belongs_to_collection','url','imdb_link',
                       'runtime','budget_kaggle','revenue','release_date_kaggle','popularity','vote_average','vote_count',
                       'genres','original_language','overview','spoken_languages','Country',
                       'production_companies','production_countries','Distributor',
                       'Producer(s)','Director','Starring','Cinematography','Editor(s)','Writer(s)','Composer(s)','Based on'
                      ]]
    
    # Rename columns
    movies_df.rename({'id':'kaggle_id',
                  'title_kaggle':'title',
                  'url':'wikipedia_url',
                  'budget_kaggle':'budget',
                  'release_date_kaggle':'release_date',
                  'Country':'country',
                  'Distributor':'distributor',
                  'Producer(s)':'producers',
                  'Director':'director',
                  'Starring':'starring',
                  'Cinematography':'cinematography',
                  'Editor(s)':'editors',
                  'Writer(s)':'writers',
                  'Composer(s)':'composers',
                  'Based on':'based_on'
                 }, axis='columns', inplace=True)
    
    # Read rating data
    rating_counts = ratings.groupby(['movieId','rating'], as_index=False).count() \
                .rename({'userId':'count'}, axis=1) \
                .pivot(index='movieId',columns='rating', values='count')
    
    # Merge rating_count and movies_df data
    movies_with_ratings_df = pd.merge(movies_df, rating_counts, left_on='kaggle_id', right_index=True, how='left')
    movies_with_ratings_df[rating_counts.columns] = movies_with_ratings_df[rating_counts.columns].fillna(0)

    # Load the data to SQL
    db_string = f"postgres://postgres:{db_password}@127.0.0.1:5432/movie_data"
    engine = create_engine(db_string)
    movies_df.to_sql(name='movies', con=engine, if_exists='replace')
    
    rows_imported = 0
    # get the start_time from time.time()
    start_time = time.time()
    
    # Removing current data from the sql table
    data_help = pd.DataFrame(columns = ['userId','movieId','rating','timestamp'])
    data_help.to_sql(name='ratings', con=engine, if_exists='replace')
    
    # Append the rest of data to sql table
    #for data in pd.read_csv(f'{file_dir}\\ratings.csv', chunksize=1000000):
    for data in pd.read_csv('ratings.csv', chunksize=1000000):
        print(f'importing rows {rows_imported} to {rows_imported + len(data)}...', end='')
        data.to_sql(name='ratings', con=engine, if_exists='append')
        rows_imported += len(data)

        # add elapsed time to final print out
        print(f'Done. {time.time() - start_time} total seconds elapsed')

In [8]:
Transform_Load(wiki_movies_raw, kaggle_metadata, ratings)

https://en.wikipedia.org/wiki/Deal_(2008_film)                                     2
https://en.wikipedia.org/wiki/Clockstoppers                                        2
https://en.wikipedia.org/wiki/Confessions_of_a_Dangerous_Mind_(film)               2
https://en.wikipedia.org/wiki/Dan_in_Real_Life                                     1
https://en.wikipedia.org/wiki/Trees_Lounge                                         1
                                                                                  ..
https://en.wikipedia.org/wiki/The_Lost_Medallion:_The_Adventures_of_Billy_Stone    1
https://en.wikipedia.org/wiki/Friday_Night_Lights_(film)                           1
https://en.wikipedia.org/wiki/A/k/a_Tommy_Chong                                    1
https://en.wikipedia.org/wiki/Authors_Anonymous                                    1
https://en.wikipedia.org/wiki/Quigley_Down_Under                                   1
Name: url, Length: 6049, dtype: int64
2006    326
2013    320
1996    285
1997    276
2012    257
2007    252
1995    247
1994    232
1998    222
2004    219
2005    217
2009    216
2002    212
1990    207
2001    204
2008    204
2014    201
2003    201
2010    199
2000    196
2011    195
1999    194
1992    186
1993    184
1991    174
2015    144
2017    139
2016    137
2018      6
Name: year, dtype: int64
https://www.imdb.com/title/tt0446676/    2
https://www.imdb.com/title/tt0157472/    2
https://www.imdb.com/title/tt0270288/    2
https://www.imdb.com/title/tt0482606/    1
https://www.imdb.com/title/tt0847167/    1
                                        ..
https://www.imdb.com/title/tt0758752/    1
https://www.imdb.com/title/tt0255819/    1
https://www.imdb.com/title/tt0816711/    1
https://www.imdb.com/title/tt0811137/    1
https://www.imdb.com/title/tt0138537/    1
Name: imdb_link, Length: 6049, dtype: int64
NaN                                                               4080
(Star Trek, by, Gene Roddenberry)                                    8
(Teenage Mutant Ninja Turtles, by, Kevin Eastman, Peter Laird)       6
(Mission: Impossible, by, Bruce Geller)                              5
(Transformers, by, Hasbro)                                           5
                                                                  ...
(Eye for an Eye, by, Erika Holzer)                                   1
(The Jungle Book, by, Rudyard Kipling)                               1
(Eaters of the Dead, by Michael Crichton)                            1
(Brødre, by, Susanne Bier, and, Anders Thomas Jensen)                1
(Going in Style, by, Martin Brest)                                   1
Name: Based on, Length: 1795, dtype: int64
NaN                                                                                                                                                                                                                                                                                                     112
see below                                                                                                                                                                                                                                                                                                 5
(Gary Graham, Eric Pierpoint, Michele Scarabelli, Terri Treas)                                                                                                                                                                                                                                            4
See below                                                                                                                                                                                                                                                                                                 3
(Ethan Hawke, Julie Delpy)                                                                                                                                                                                                                                                                                3
                                                                                                                                                                                                                                                                                                       ...
(Sissy Spacek, Glenn Close, Holly Hunter, Lisa Gay Hamilton, Kathy Baker, Amanda Seyfried, Amy Brenneman, Robin Wright Penn, Aidan Quinn, K Callan, Dakota Fanning, Ian McShane, Mary Kay Place, Molly Parker, Sydney Tamiia Poitier, Elpidia Carrillo, Jason Isaacs, Miguel Sandoval, Joe Mantegna)      1
(Emily Blunt, Rebecca Ferguson, Haley Bennett, Justin Theroux, Luke Evans, Allison Janney, Édgar Ramírez, Lisa Kudrow)                                                                                                                                                                                    1
(Clint Eastwood, Jeff Daniels, Anjelica Huston)                                                                                                                                                                                                                                                           1
(Sean Penn, Jude Law, Kate Winslet, James Gandolfini, Mark Ruffalo, Patricia Clarkson, Jackie Earle Haley, Anthony Hopkins)                                                                                                                                                                               1
(Emily Bergl, Jason London, Dylan Bruno, J. Smith-Cameron, Amy Irving)                                                                                                                                                                                                                                    1
Name: Starring, Length: 5918, dtype: int64
NaN                             484
Roger Deakins                    37
Dean Semler                      35
Mark Irwin                       33
Oliver Wood                      32
                               ...
David Mullen                      1
Brendan Flynt                     1
(Jeff Barnett, Shawn Maurer)      1
Jan Richter-Friis                 1
Todd Banhazl                      1
Name: Cinematography, Length: 1644, dtype: int64
NaN                                                                                                                                                     11
(2006, (, 2006, ))                                                                                                                                      11
(1990, (, 1990, ))                                                                                                                                      10
(1995, (, 1995, ))                                                                                                                                       9
(1996, (, 1996, ))                                                                                                                                       6
                                                                                                                                                        ..
(May 1, 2000, (, 2000-05-01, ), (, Los Angeles, ), May 5, 2000, (, 2000-05-05, ), (United States), May 12, 2000, (, 2000-05-12, ), (United Kingdom))     1
(October 21, 2011, (, 2011-10-21, ))                                                                                                                     1
(January 23, 2010, (, 2010-01-23, ), (, Sundance, ), December 3, 2010, (, 2010-12-03, ), (United States))                                                1
(February 26, 2013, (, 2013-02-26, ), (Hollywood), March 1, 2013, (, 2013-03-01, ), (United States))                                                     1
(January 18, 2008, (, 2008-01-18, ), (, Sundance Film Festival, ), March 13, 2009, (, 2009-03-13, ), (United States))                                    1
Name: Release date, Length: 4653, dtype: int64
United States                                                                       4820
NaN                                                                                  170
(United Kingdom, United States)                                                      104
(United States, United Kingdom)                                                       50
(United States, Canada)                                                               49
                                                                                    ...
(United States, United Kingdom, Germany, Canada)                                       1
(United States, Japan, Philippines)                                                    1
USA, Japan, Italy                                                                      1
(Argentina, Brazil, United States, Chile, Peru, United Kingdom, Germany, France)       1
(United States, Indonesia)                                                             1
Name: Country, Length: 469, dtype: int64
Woody Allen                 25
Steven Soderbergh           23
Clint Eastwood              20
Spike Lee                   19
Ridley Scott                18
                            ..
(Bonni Cohen, Jon Shenk)     1
Jenniphr Goodman             1
Nickolas Perry               1
(Nat Faxon, Jim Rash)        1
Nadia Tass                   1
Name: Director, Length: 2917, dtype: int64
20th Century Fox                                                               387
Universal Pictures                                                             362
Buena Vista Pictures                                                           310
Paramount Pictures                                                             283
Warner Bros. Pictures                                                          283
                                                                              ...
(Triumph Films, (US), (, Sony Pictures Entertainment, ))                         1
(Warner Bros., (United States), Universal Pictures, (International))             1
(Metro-Goldwyn-Mayer, Entertainment Film Distributors)                           1
(Esperanza Films, The Samuel Goldwyn Company)                                    1
(Fox Searchlight Pictures, (North America), Miramax Films, (International))      1
Name: Distributor, Length: 1350, dtype: int64
NaN                                  351
Michael Kahn                          25
Maysie Hoy                            22
Stephen Mirrione                      20
Bruce Green                           20
                                    ...
Chris Witt                             1
Renee Edwards                          1
(Rickie Lee, Jeffrey Linford)          1
Charles McClelland                     1
(Craig Herring, Pembroke Herring)      1
Name: Editor(s), Length: 2728, dtype: int64
NaN                                                             348
James Newton Howard                                              94
Mark Isham                                                       88
John Debney                                                      79
Hans Zimmer                                                      69
                                                               ...
(Steve Pacey, Dominic Kelly)                                      1
Alan Brewer                                                       1
(Coil, ,, Lee Ranaldo)                                            1
(Pray for Rain, Bernie Worrell)                                   1
(Michael Giacchino, =, Gustavo Santaolalla, =, James Horner)      1
Name: Composer(s), Length: 1936, dtype: int64
NaN                                                           117
Robert Simonds                                                 18
Jerry Bruckheimer                                              18
Brian Grazer                                                   17
Neal H. Moritz                                                 13
                                                             ...
(Greg Newman, Gigi Graff)                                       1
(Mark W. Koch, Stephen Hopkins, Akiva Goldsman, Carla Fry)      1
(Brad Van Arragon, Katy Wallin, Shawn Williamson)               1
Roger Corman                                                    1
Sherryl Clark                                                   1
Name: Producer(s), Length: 5173, dtype: int64
NaN                                         135
Woody Allen                                  23
Tyler Perry                                  17
John Hughes                                  12
M. Night Shyamalan                           12
                                           ...
Michelle Morgan                               1
Tommy Chong                                   1
(Matt Dillon, Barry Gifford, Mike Jones)      1
Laurice Elehwany                              1
(Oliver Butcher, Stephen Cornwell)            1
Name: Writer(s), Length: 4545, dtype: int64
tt0446676    2
tt0157472    2
tt0270288    2
tt0298148    1
tt1499658    1
            ..
tt0099409    1
tt0361467    1
tt0119715    1
tt0443543    1
tt0457430    1
Name: imdb_id, Length: 6049, dtype: int64
NaN                                                                                                                                                                    5023
{'id': 1241, 'name': 'Harry Potter Collection', 'poster_path': '/8Xmkc1HvCOpMlbFvVabrtr6HAsp.jpg', 'backdrop_path': '/wfnMt6LGqYHcNyOfsuusw5lX3bL.jpg'}                   8
{'id': 9485, 'name': 'The Fast and the Furious Collection', 'poster_path': '/mCkqJf4ijbNoBWvJ0RTWZJuhJUA.jpg', 'backdrop_path': '/z5A5W3WYJc3UVEWljSGwdjDgQ0j.jpg'}       8
{'id': 107949, 'name': 'Puppet Master Collection', 'poster_path': '/wuLaEcy10wqgiVi4nCjdPXvcCyw.jpg', 'backdrop_path': '/crDZjaOpoUCIOoiQ9nLIAt8ZBul.jpg'}                8
{'id': 656, 'name': 'Saw Collection', 'poster_path': '/xmC2A7qPEfiOkQC58fZh8srWQ5v.jpg', 'backdrop_path': '/oLfS1lOmN2KIU2IQ200SDEPVEZe.jpg'}                             7
                                                                                                                                                                       ...
{'id': 70068, 'name': 'Ip Man Collection', 'poster_path': '/iXhYIEUNoYXeq3XiNasMAcThHMU.jpg', 'backdrop_path': '/1oCPXe4e0VHZTJX4nLkvxzayXK9.jpg'}                        1
{'id': 247294, 'name': 'Showgirls Collection', 'poster_path': '/lXpCjeuKtzkckXkam8sgOaaTOhc.jpg', 'backdrop_path': '/nKMLBnDGCPdHipJs0Xk8NzNmLFS.jpg'}                    1
{'id': 325470, 'name': 'The Lego Movie Collection', 'poster_path': '/hsBJxdgF1BK1M98dWAaikvTlym7.jpg', 'backdrop_path': '/sQNiamRBTh2aTjQ8aYCJ69MngTM.jpg'}               1
{'id': 166378, 'name': 'Joy Ride Collection', 'poster_path': '/ln6CZn4pEBOea3757FaMukhgp25.jpg', 'backdrop_path': '/eDU0xWJge0Sj2A1hyp5NtTcc3OZ.jpg'}                     1
{'id': 261307, 'name': 'Alice in Wonderland Collection', 'poster_path': '/xSDwVJEdtewx9pfD125PCdRgznH.jpg', 'backdrop_path': '/xX2mxqqYnG5nmujfZ422iXgXyOO.jpg'}          1
Name: belongs_to_collection, Length: 568, dtype: int64
NaN           796
30000000.0    153
20000000.0    152
40000000.0    142
25000000.0    140
             ...
6451106.0       1
37553752.0      1
4956401.0       1
5939449.0       1
10027047.0      1
Name: budget_kaggle, Length: 1521, dtype: int64
[{'id': 18, 'name': 'Drama'}]                                                                                                                                           481
[{'id': 35, 'name': 'Comedy'}]                                                                                                                                          452
[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'name': 'Drama'}]                                                                                                             225
[{'id': 35, 'name': 'Comedy'}, {'id': 10749, 'name': 'Romance'}]                                                                                                        204
[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'name': 'Romance'}]                                                                                                         201
                                                                                                                                                                       ...
[{'id': 12, 'name': 'Adventure'}, {'id': 14, 'name': 'Fantasy'}, {'id': 28, 'name': 'Action'}, {'id': 35, 'name': 'Comedy'}, {'id': 878, 'name': 'Science Fiction'}]      1
[{'id': 28, 'name': 'Action'}, {'id': 9648, 'name': 'Mystery'}, {'id': 878, 'name': 'Science Fiction'}]                                                                   1
[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'name': 'Romance'}, {'id': 80, 'name': 'Crime'}]                                                                              1
[{'id': 53, 'name': 'Thriller'}, {'id': 37, 'name': 'Western'}, {'id': 12, 'name': 'Adventure'}]                                                                          1
[{'id': 28, 'name': 'Action'}, {'id': 12, 'name': 'Adventure'}, {'id': 10752, 'name': 'War'}]                                                                             1
Name: genres, Length: 1237, dtype: int64
NaN                                           4256
http://www.thehungergames.movie/                 4
http://www.transformersmovie.com/                4
http://www.missionimpossible.com/                4
http://www.kungfupanda.com/                      3
                                              ...
http://www.ballastfilm.com                       1
http://www.thefiveyearengagementmovie.com/       1
http://www.warnerbros.com/eraser                 1
http://www.saw3dmovie.com                        1
http://www.bendingtherulesmovie.com/             1
Name: homepage, Length: 1772, dtype: int64
4912     2
15028    2
11115    2
2047     1
19092    1
        ..
9526     1
98066    1
82545    1
15673    1
16384    1
Name: id, Length: 6049, dtype: int64
en    5988
fr      16
es      10
it       8
de       6
zh       4
ja       4
pt       4
da       2
hi       2
ar       1
tr       1
ko       1
he       1
ru       1
cn       1
ab       1
sv       1
Name: original_language, dtype: int64
Concussion                   2
Annie                        2
Drive                        2
Paradise                     2
Deadfall                     2
                            ..
Another Stakeout             1
Playing God                  1
A Good Old Fashioned Orgy    1
Red Dawn                     1
Robosapien: Rebooted         1
Name: original_title, Length: 5992, dtype: int64

NaN                                                                                                                                                                                                                                                                                                                                                                                                                                                            5
As an ex-gambler teaches a hot-shot college kid some things about playing cards, he finds himself pulled into the world series of poker, where his protégé is his toughest competition.                                                                                                                                                                                                                                                                        2
Television made him famous, but his biggest hits happened off screen. Television producer by day, CIA assassin by night, Chuck Barris was recruited by the CIA at the height of his TV career and trained to become a covert operative. Or so Barris said.                                                                                                                                                                                                     2
No overview found.                                                                                                                                                                                                                                                                                                                                                                                                                                             2
Until now, Zak Gibbs' greatest challenge has been to find a way to buy a car. But when he discovers an odd wristwatch amidst his father's various inventions and slips it on -- something very strange happens. The world around him seems to come to a stop, everything and everybody frozen in time. Zak quickly learns how to manipulate the device and he and his quick-witted and beautiful new friend, Francesca, start to have some real fun.           2
                                                                                                                                                                                                                                                                                                                                                                                                                                                              ..
Set in the 1920s French Riviera, a master magician is commissioned to try and expose a psychic as a fraud.                                                                                                                                                                                                                                                                                                                                                     1
Mexican immigrant and single mother Flor Moreno finds housekeeping work with Deborah and John Clasky, a well-off couple with two children of their own. When Flor admits she can't handle the schedule because of her daughter, Cristina, Deborah decides they should move into the Clasky home. Cultures clash and tensions run high as Flor and the Claskys struggle to share space while raising their children on their own, and very different, terms.    1
Now that Santa and Mrs. Claus have the North Pole running smoothly, the Counsel of Legendary Figures has called an emergency meeting on Christmas Eve! The evil Jack Frost has been making trouble, looking to take over the holiday! So he launches a plan to sabotage the toy factory and compel Scott to invoke the little-known Escape Clause and wish he'd never become Santa.                                                                            1
David Rice is a man who knows no boundaries, a Jumper, born with the uncanny ability to teleport instantly to anywhere on Earth. When he discovers others like himself, David is thrust into a dangerous and bloodthirsty war while being hunted by a sinister and determined group of zealots who have sworn to destroy all Jumpers. Now, David’s extraordinary gift may be his only hope for survival!                                                       1
Novelist Catherine Tramell is once again in trouble with the law, and Scotland Yard appoints psychiatrist Dr. Michael Glass to evaluate her. Though, like Detective Nick Curran before him, Glass is entranced by Tramell and lured into a seductive game.                                                                                                                                                                                                     1
Name: overview, Length: 6044, dtype: int64
6.880365     2
9.003792     2
11.511424    1
1.507580     1
0.283548     1
            ..
5.045874     1
5.594987     1
2.197439     1
7.390306     1
1.595591     1
Name: popularity, Length: 6050, dtype: int64
NaN                                 2
/kHaBqrrozaG7rj6GJg3sUCiM29B.jpg    2
/o3Im9nPLAgtlw1j2LtpMebAotSe.jpg    2
/xGhDPrBz9mJN8CsIjA23jQSd3sc.jpg    2
/uu62T87qkLkapeuu7ArlnQ6tAap.jpg    1
                                   ..
/zyRTua3RVN3eLaIoXkdiy4XfF4s.jpg    1
/ttfVcy8PAnRCZFUXdPStDI2gF5r.jpg    1
/hOJeQXve8W9rNRhdgC1WV3GQJyA.jpg    1
/6ksm1sjKMFLbO7UY2i6G1ju9SML.jpg    1
/yfcoA7q9n852yVnYa0VcAchgA72.jpg    1
Name: poster_path, Length: 6048, dtype: int64
[]                                                                                                                                                                                                                                                                                                                                                                                                             546
[{'name': 'Paramount Pictures', 'id': 4}]                                                                                                                                                                                                                                                                                                                                                                       84
[{'name': 'New Line Cinema', 'id': 12}]                                                                                                                                                                                                                                                                                                                                                                         64
[{'name': 'Touchstone Pictures', 'id': 9195}]                                                                                                                                                                                                                                                                                                                                                                   54
[{'name': 'Universal Pictures', 'id': 33}]                                                                                                                                                                                                                                                                                                                                                                      50
                                                                                                                                                                                                                                                                                                                                                                                                              ...
[{'name': 'Rankin/Bass Productions', 'id': 688}, {'name': 'NEST Family Entertainment', 'id': 4107}, {'name': 'Rich Animation Studios', 'id': 4108}, {'name': 'Warner Bros.', 'id': 6194}, {'name': 'Morgan Creek Productions', 'id': 10210}]                                                                                                                                                                     1
[{'name': 'Fox Searchlight Pictures', 'id': 43}, {'name': 'Scott Free Productions', 'id': 1645}, {'name': 'Indian Paintbrush', 'id': 9350}]                                                                                                                                                                                                                                                                      1
[{'name': 'Double Feature Films', 'id': 215}, {'name': 'Jersey Films', 'id': 216}, {'name': '1984 Private Defense Contractors', 'id': 8532}, {'name': 'Cross Creek Pictures', 'id': 10246}, {'name': 'Exclusive Media Group', 'id': 11448}, {'name': 'Traveling Picture Show Company (TPSC)', 'id': 39043}, {'name': 'Free State Pictures', 'id': 40106}, {'name': 'Da Vinci Media Ventures', 'id': 40107}]      1
[{'name': 'Virtual Studios', 'id': 449}, {'name': 'Legendary Pictures', 'id': 923}, {'name': 'Hollywood Gang Productions', 'id': 2994}, {'name': 'Atmosphere Entertainment MM', 'id': 2995}, {'name': 'Warner Bros.', 'id': 6194}, {'name': 'Nimar Studios', 'id': 7636}, {'name': 'Cruel and Unusual Films', 'id': 78685}]                                                                                      1
[{'name': 'Fox Searchlight Pictures', 'id': 43}, {'name': 'Broken Lizard Industries', 'id': 2773}, {'name': 'Coconut Pete Productions', 'id': 52949}]                                                                                                                                                                                                                                                            1
Name: production_companies, Length: 4323, dtype: int64
[{'iso_3166_1': 'US', 'name': 'United States of America'}]                                                                                                                                     4401
[]                                                                                                                                                                                              284
[{'iso_3166_1': 'GB', 'name': 'United Kingdom'}, {'iso_3166_1': 'US', 'name': 'United States of America'}]                                                                                      201
[{'iso_3166_1': 'DE', 'name': 'Germany'}, {'iso_3166_1': 'US', 'name': 'United States of America'}]                                                                                             147
[{'iso_3166_1': 'CA', 'name': 'Canada'}, {'iso_3166_1': 'US', 'name': 'United States of America'}]                                                                                              124
                                                                                                                                                                                               ...
[{'iso_3166_1': 'BE', 'name': 'Belgium'}, {'iso_3166_1': 'CA', 'name': 'Canada'}, {'iso_3166_1': 'GB', 'name': 'United Kingdom'}, {'iso_3166_1': 'US', 'name': 'United States of America'}]       1
[{'iso_3166_1': 'EC', 'name': 'Ecuador'}, {'iso_3166_1': 'CO', 'name': 'Colombia'}, {'iso_3166_1': 'US', 'name': 'United States of America'}]                                                     1
[{'iso_3166_1': 'FR', 'name': 'France'}, {'iso_3166_1': 'IT', 'name': 'Italy'}, {'iso_3166_1': 'LU', 'name': 'Luxembourg'}, {'iso_3166_1': 'US', 'name': 'United States of America'}]             1
[{'iso_3166_1': 'ES', 'name': 'Spain'}, {'iso_3166_1': 'FR', 'name': 'France'}, {'iso_3166_1': 'US', 'name': 'United States of America'}]                                                         1
[{'iso_3166_1': 'CN', 'name': 'China'}, {'iso_3166_1': 'DE', 'name': 'Germany'}, {'iso_3166_1': 'US', 'name': 'United States of America'}]                                                        1
Name: production_countries, Length: 374, dtype: int64
2006-01-01    22
1997-01-01    18
2007-01-01    11
1995-01-01    10
2005-01-01    10
              ..
2000-11-09     1
1998-07-29     1
1990-08-01     1
1996-09-03     1
2006-03-22     1
Name: release_date_kaggle, Length: 3466, dtype: int64
NaN            880
2000000.0       11
10000000.0      11
4000000.0        8
7000000.0        8
              ...
32416586.0       1
38738.0          1
215294342.0      1
139936.0         1
2408311.0        1
Name: revenue, Length: 4815, dtype: int64
90.0      245
95.0      208
97.0      197
100.0     192
96.0      176
         ...
44.0        1
5340.0      1
208.0       1
NaN         1
214.0       1
Name: runtime, Length: 159, dtype: int64
[{'iso_639_1': 'en', 'name': 'English'}]                                                                                                                             4479
[{'iso_639_1': 'en', 'name': 'English'}, {'iso_639_1': 'es', 'name': 'Español'}]                                                                                      165
[{'iso_639_1': 'en', 'name': 'English'}, {'iso_639_1': 'fr', 'name': 'Français'}]                                                                                     143
[]                                                                                                                                                                     97
[{'iso_639_1': 'en', 'name': 'English'}, {'iso_639_1': 'de', 'name': 'Deutsch'}]                                                                                       77
                                                                                                                                                                     ...
[{'iso_639_1': 'en', 'name': 'English'}, {'iso_639_1': 'lo', 'name': ''}]                                                                                               1
[{'iso_639_1': 'en', 'name': 'English'}, {'iso_639_1': 'it', 'name': 'Italiano'}, {'iso_639_1': 'sv', 'name': 'svenska'}]                                               1
[{'iso_639_1': 'en', 'name': 'English'}, {'iso_639_1': 'it', 'name': 'Italiano'}, {'iso_639_1': 'el', 'name': 'ελληνικά'}]                                              1
[{'iso_639_1': 'en', 'name': 'English'}, {'iso_639_1': 'sv', 'name': 'svenska'}, {'iso_639_1': 'de', 'name': 'Deutsch'}]                                                1
[{'iso_639_1': 'ar', 'name': 'العربية'}, {'iso_639_1': 'en', 'name': 'English'}, {'iso_639_1': 'fr', 'name': 'Français'}, {'iso_639_1': 'de', 'name': 'Deutsch'}]       1
Name: spoken_languages, Length: 445, dtype: int64
Released           6024
Rumored              12
Post Production      10
NaN                   4
In Production         2
Name: status, dtype: int64
NaN                                                                                                1134
Who is John Galt?                                                                                     3
Be careful what you wish for.                                                                         3
One ordinary couple. One little white lie.                                                            2
Who's next?                                                                                           2
                                                                                                   ...
One pill can change your life.                                                                        1
Sometimes love has a life of it's own.                                                                1
Watch who you leave behind.                                                                           1
All the laughs, half the calories                                                                     1
People should not be afraid of their governments. Governments should be afraid of their people.       1
Name: tagline, Length: 4901, dtype: int64
The Mummy                      2
Masterminds                    2
Much Ado About Nothing         2
True Crime                     2
No Escape                      2
                              ..
Another Stakeout               1
Playing God                    1
A Good Old Fashioned Orgy      1
Red Dawn                       1
Abraham Lincoln vs. Zombies    1
Name: title_kaggle, Length: 5992, dtype: int64
False    6051
True        1
Name: video, dtype: int64
6.0    305
6.1    276
5.8    274
5.9    273
6.3    266
      ...
9.5      1
9.3      1
1.7      1
2.6      1
0.5      1
Name: vote_average, Length: 76, dtype: int64
6.0       77
7.0       76
10.0      75
4.0       74
3.0       72
          ..
561.0      1
1011.0     1
1626.0     1
521.0      1
1351.0     1
Name: vote_count, Length: 1600, dtype: int64

importing rows 0 to 1000000...Done. 154.02964425086975 total seconds elapsed
importing rows 1000000 to 2000000...Done. 302.5172760486603 total seconds elapsed
importing rows 2000000 to 3000000...Done. 451.7443289756775 total seconds elapsed
importing rows 3000000 to 4000000...Done. 601.9271478652954 total seconds elapsed
importing rows 4000000 to 5000000...Done. 756.4528894424438 total seconds elapsed
importing rows 5000000 to 6000000...Done. 909.5179665088654 total seconds elapsed
importing rows 6000000 to 7000000...Done. 1061.0082426071167 total seconds elapsed
importing rows 7000000 to 8000000...Done. 1211.7670135498047 total seconds elapsed
importing rows 8000000 to 9000000...Done. 1362.1628782749176 total seconds elapsed
importing rows 9000000 to 10000000...Done. 1513.8799896240234 total seconds elapsed
importing rows 10000000 to 11000000...Done. 1664.9779152870178 total seconds elapsed
importing rows 11000000 to 12000000...Done. 1814.3673770427704 total seconds elapsed
importing rows 12000000 to 13000000...Done. 1965.4587893486023 total seconds elapsed
importing rows 13000000 to 14000000...Done. 2117.6406922340393 total seconds elapsed
importing rows 14000000 to 15000000...Done. 2269.9316029548645 total seconds elapsed
importing rows 15000000 to 16000000...Done. 2422.8050973415375 total seconds elapsed
importing rows 16000000 to 17000000...Done. 2573.503208875656 total seconds elapsed
importing rows 17000000 to 18000000...Done. 2726.948385953903 total seconds elapsed
importing rows 18000000 to 19000000...Done. 2881.4846472740173 total seconds elapsed
importing rows 19000000 to 20000000...Done. 3035.1492376327515 total seconds elapsed
importing rows 20000000 to 21000000...Done. 3188.5196862220764 total seconds elapsed
importing rows 21000000 to 22000000...Done. 3344.4192700386047 total seconds elapsed
importing rows 22000000 to 23000000...Done. 3497.990737915039 total seconds elapsed
importing rows 23000000 to 24000000...Done. 3653.3835320472717 total seconds elapsed
importing rows 24000000 to 25000000...Done. 3806.243365049362 total seconds elapsed
importing rows 25000000 to 26000000...Done. 3959.915967464447 total seconds elapsed
importing rows 26000000 to 26024289...Done. 3963.8943705558777 total seconds elapsed